{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <img src="static\img\angel.png" alt=""
        width="250" height="250">
        <h3>Привет! Меня зовут Тикунова Дарья, и я автор этого проекта. Я работаю над ним уже третий год, и с каждым обновлением стараюсь сделать его лучше и интереснее. Сейчас я учусь в 11 классе и стремлюсь развиваться как в учебе, так и в творчестве. На этой странице вы найдете тесты, благодаря которым проводилось мое исследование. Вы также можете пройти их самостоятельно или ознакомиться с ними.</h3> 
        <img src="static\img\kolivynnn.png" alt=""
        width="200" height="200">
        <h3>Также хочу представить вам Николенко Николая, главного создателя нашего сайта. Без его помощи этот проект не был бы возможен. </h3>

    </div>
</body>
{% endblock %}
