{% extends 'base.html' %}

{% block title %}
Тесты
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты </title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="container">
        <h1>Психологические тесты</h1>
        
        <!-- Тест 1 -->
        <div class="test">
            <li class='hover-button'><a href="{{ url_for('test_1') }}" class="hover-button"><h3>Шкала безнадежности А. Бека</h3></a></li>
        
        <!-- Тест 2 -->
        <div class="test">
            <li class='hover-button'><a href="{{ url_for('test_2') }}" class="hover-button"><h3>Методика М. Селигмана "Уровень оптимизма"</h3></a></li>
        </div>
        
</body>
</html>
{% endblock %}